@model IEnumerable<ERPDB.Models.Company>

@{
    ViewData["Title"] = "Compeny";
}

    <div class="col-md-7">
        <div class="card">



            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3" style="text-align:center;"> اضافه مركز صحي جديد</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">

                    <div class="card">

                        <form asp-controller="Patients" asp-action="Compeny" method="post">

                            <div class="card-body card-block">

                                <div class="form-inline">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="input-group input-group-dynamic">
                                                <label for="exampleInputName2" class="form-label">اسم المركز <span style="color: red; font-weight: bold">*</span></label>
                                                <input type="text" name="CompanName" required="" class="multisteps-form__input form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="input-group input-group-dynamic">
                                                <label for="exampleInputEmail2" class="form-label">البريد الاكتروني</label>

                                                <input type="email" name="Email" required="" class="multisteps-form__input form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="input-group input-group-dynamic">
                                            <label for="exampleInputName2" class="form-label">العنوان</label>
                                            <input type="text" name="Addrees" required="" class="multisteps-form__input form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                                        </div>
                                    </div>


                                </div>
                            </div>







                            <div class=" text-center">
                                <button type="submit" class="btn btn-primary active col-3">
                                    <i class="fa fa-send"></i> ارسال
                                </button>
                                <button type="reset" class="btn btn-secondary  active col-3">
                                    <i class="fa fa-refresh fa-1x"></i>   تحديث
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
                <br />
                <br />
                







                <div class="col-md-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="card my-4">
                                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                        <h6 class="text-white text-capitalize ps-3" style="text-align:center;">عرض  بيانات المراكز الصحيه</h6>
                                    </div>
                                </div>
                                <div class="card-body px-0 pb-2">
                                    <div class="table-responsive p-0">
                                        <table class="table align-items-center mb-0">
                                            <thead>
                                                <tr>
                                                    @*<th>
            <label class="au-checkbox">
                <input type="checkbox">
                <span class="au-checkmark"></span>
            </label>
        </th>*@
                                                    <th scope="col" style="text-align:right;">
                                                        اسم المركز
                                                    </th>
                                                    <th scope="col" style="text-align:right;">
                                                        التحكم
                                                    </th>
                                                    <th scope="col" style="text-align:right;">
                                                        عرض بيانات
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itme in Model)
                                                {
                                                    <tr>
                                                        @*<td>
                        <label class="au-checkbox">
                            <input type="checkbox">
                            <span class="au-checkmark"></span>
                        </label>
                    </td>*@
                                                        <td>
                                                            <div class="table-data__info">
                                                                <h6>@itme.CompanName</h6>

                                                            </div>
                                                        </td>
                                                        <td>
                                                            @if (itme.State == null)
                                                            {
                                                                <a asp-controller="Patients" asp-action="Compenyid" asp-route-id="@itme.CompanyId" class="btn btn-success">اظافة</a>

                                                            }
                                                            else if (itme.State == 0)
                                                            {
                                                                <a asp-controller="Patients" asp-action="Compenyid" asp-route-id="@itme.CompanyId" class="btn btn-primary">تنشيط</a>

                                                            }
                                                            else if (itme.State == 1)
                                                            {

                                                                <a asp-controller="Patients" asp-action="Compenyid" asp-route-id="@itme.CompanyId" class="btn btn-danger">تقيد</a>
                                                            }

                                                        </td>
                                                        <td>
                                                            <div class="table-data-feature">
                                                                @if (itme.State == 1)
                                                                {



                                                                    <a onclick="showInPopup('@Url.Action("Compenyditils","Patients", new { id = itme.CompanyId },Context.Request.Scheme)','  الفحوصات')" class="btn btn-secondary">تفاصيل</a>

                                                                }




                                                            </div>
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
                

                
